.progress {
  height: 150px;
  padding: 20px;
  // display: flex;
  background-color: #f5f5f5;

  align-items: center;
  .progress-container {
    object-fit: cover;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // height: 70px;
    border-radius: 10px;

    cursor: pointer;
    // // width: 200px;
    // // background-color: blue;
    border: 1px solid black;
    // h4 {
    //   margin-top: 13px;
    // }
  }
}
.nodisplay {
  display: none;
}
.responsive-container {
  height: 80%;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.emp-input-text {
  border: none;
  background-color: #ffffff;
  border-bottom: 1px solid black;
  outline: none;
  border-radius: 0px;
}
@media (max-width: 345.5px) {
}
@media (min-width: 346px) and (max-width: 390.5px) {
}
@media (min-width: 391px) and (max-width: 600px) {
}

@media (min-width: 1600px) {
}
